article{
    background-color: #fff;
    height: 100vw;
    border-right: 1px solid #e1e1e1;
}

article .content{
    color: #666666;
    font-size: 0.938em;
    padding: 30px;
}

article .content h3{
    color: #d0021b;
    font-weight: 900;
    font-size: 1.125em;
    margin-top: 20px;
    border-bottom: 1px solid #d0021b;
    padding-bottom: 5px;
}

article .content h3 i{
    margin-right: 5px;
}

article .instituicao h4, article .formacao h4{
    font-size: 1.063em;
    font-weight: 700;
    margin-bottom: 5px;
}

article .instituicao h5, article .formacao h5{
    font-size: 0.938em;
    margin-bottom: 0px;
}

article .instituicao small, article .formacao small{
    font-size: 0.938em;
    font-weight: 300;
}
